*,
*:after,
*:before{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

a{
    text-decoration: none;
    color: #fff;
}

.container{
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.link{
    margin-right: 30px;
}

.logo{
    font-size: 36px;
    font-weight: 600;
    align-items: center;
}

.header{
    color: #fff;
}

.header__inner{
    background-color: rgba(42, 59, 43, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    padding: 16px 45px 16px 45px;
}

.burger-button{
    display: none;
    outline: none;
    border: 0;
    background: transparent;
}

.mobile-menu{
    width: 100%;
    background-color: rgba(42, 59, 43, 1);
    position: absolute;
    z-index: 1000;
    top: 78px;
    left: -100%;
    display: flex;
    flex-direction: column;
    height: 300px;
}

.mobile-menu .link{
    padding-left: 14px;
    padding-top: 10px;
    font-size: 24px;
    border-bottom: 3px solid #9FC131;
}

.active .mobile-menu{
    left: 0;
    transition: left 0.5s ease;
}

.header__search{
    display: flex;
    width: calc(100%/3);
    border-radius: 5px;
    border: 0;
    height: 29px;
    align-items: center;
    margin: 0 30px 0 30px;
}

.header__field{
    width:100%;
}

.intro__inner{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.intro__content{
    position: absolute;
    margin-left: 30px;
    color: #fff;
    z-index: 100;
    text-shadow: 0px 0px 10px black;
}

.intro__title{
    font-weight: 500;
    font-size: 64px;
}

.intro__img{
    background: url('./images/intro__image.png') no-repeat center;
    filter:brightness(90%);
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 400px;
}

.intro__subtitle
{
    margin-top: 20px;
    font-weight: 400;
    font-size: 32px;
}

.card__content{
    max-width: 1180px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.card__item{
    width: calc((100% - 40px) / 3);
    max-height: 475px;
    height: 100%;
    background-color: rgba(42, 59, 43, 1);
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 35px;
    text-align: center;
}

.card__item img{
    object-fit: cover;
    max-width: 100%;
}

.card__nav{
    display: flex;
    color: #fff;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.card__rectangle{
    background-color: #9FC131;
    width: calc(100%/2);
    height: 411px; 
}

.catalogue{
    margin-bottom: 50px;
}

.catalogue__inner{
    margin-top: 200px;
    font-size: 18px;
}

.brand-name{
    text-align: center;
    margin-bottom: 40px;
}

.brand-image{
    object-fit: cover;
    max-width: 100%;
}

.catalogue__content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.catalogue__card{
    width: calc((100% - 380px) / 4);
    height: 156px;
}

.about{
    margin-bottom: 100px;
}

.about__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about__img{
    background: url('./images/about_us.png') no-repeat center;
    width: calc(100%*2/3);
    height: 435px;
    object-fit: cover;
    background-size: cover;
}

.about__content{
    background-color: #9FC131;
    width: calc(100%*1/3);
    max-height: 435px;
    height: 100%;
    color: #fff;
}

.about__title{
    font-size: 48px;
    font-weight: 500;
    margin: 20px;
}

.about__subtitle{
    font-size: 20px;
    margin: 20px 20px 45px;
}

.history__content{
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

.history__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px 45px 80px;
    
}

.history__nav{
    display: flex;
    justify-content: space-between;
}

.history__nav a{
    display: block;
}

.history__img{
    object-fit: cover;
    margin: 0 auto;
}

button{
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
}

.slide-arrow{
    position: absolute;
    top: 50%;
    margin-top: -30px;
}

.prev-arrow{
    left: 0;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 15px solid #000;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.next-arrow{
    right: 0;
    width: 0;
    height: 0;
    border-right: 0 solid transparent;
    border-left: 15px solid #000;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.footer__inner{
   background-color: rgba(42, 59, 43, 1);
   font-size: 18px;
}

.footer__content{
   display: flex; 
   justify-content: space-between;
   color:#fff;
   padding: 20px 15px 10px 15px;
}

.footer__nav{
    margin-left: 50px;
    font-size: 15px;
}

.footer__location{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-right: 50px;
    padding-bottom: 25px;
}

.location-image{
    object-fit: cover;
    padding-right: 10px;
}

.footer__phone{
    display: flex;
    padding-right: 10px;
    flex-flow: row wrap;
    align-items: center;
    margin-right: 50px;
}

.phone-image{
    object-fit: cover;
    padding-right: 10px;
}

.footer__social{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-left: 60px;
}

.instagram-image{
    margin-right: 10px;
}

.copyright{
    text-align: center;
    color: #fff;
    padding-bottom: 30px;
    padding-top: 10px;
}

