@media (max-width:1200px)
{
    .link{
        font-size: 14px;
    }
    
    .about__img{
        width: 100%;
        height: 435px;
    }
    
    .about__content{
        width: 100%;
        max-height: 435px;
    }   
}

@media (max-width:1024px)
{
    .logo{
        font-size: 32px;
    }
    
    .link{
        font-size: 12px;
    }  
}

@media (max-width:950px)
{
    .navigation{
        display: none;
    }


    .header__inner{
        padding: 22px 14px 22px 14px;
    }

    .header__search{
        width: calc(100%*2/3);
    }

    .product__content{
        padding-top: 0;
        flex-direction: column;
    }

    .product__images{
        margin: 0 auto;
    }

    .product__description{
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .product__volume h3{
        text-align: center;
    }

    .product__volume-list{
        margin: 0 auto;
    }

    .order{
        text-align: center;
    }

    .favour{
        display: flex;
        justify-content: center;
    }
}

@media (max-width:744px)
{
    .header__search{
        width: calc(100%/3);
    }
    
    .logo{
        padding-left: 20px;
    }
    
    .burger-button{
        display: initial;
    }
    
    .footer__nav{
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }
    
    .link{
        padding-bottom: 10px;
        font-size: 15px;
    }

    .footer__location{
        margin-right: 0;
        padding-bottom: 14px;
        font-size: 15px;
    }

    .footer__phone{
        font-size: 15px;
    }

    .footer__social{
        padding-right: 80px;
    }

    .instagram-image{
        margin-left: auto;
    }
}

@media(max-width: 700px)
{
    .header__field{
        display: none;
    }

    .stock__block{
        width: 100%;
    }
}

@media(max-width: 550px)
{
    .navigation-page__path{
        display: none;
    }

    .product__title{
        font-size: 24px;
    }
}

@media(max-width: 428px)
{
    .header__inner{
        padding:22px 0px 22px 0px;
    }
    
    .logo{
        display: none;
    }

    .footer__social{
        padding-left: 15px;
        padding-top: 15px;
    }

    .instagram-image{
        margin-left: 0;
    }
}