*,
*:after,
*:before{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

a{
    text-decoration: none;
}

.container{
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.link{
    margin-right: 30px;
    color: #fff;
}

.green-font{
    color: #9FC131;
}

.logo{
    font-size: 36px;
    font-weight: 600;
    align-items: center;
}

/*HEADER START*/

.header{
    color: #fff;
}

.header__inner{
    background-color: rgba(42, 59, 43, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    padding: 16px 45px 16px 45px;
}

.burger-button{
    display: none;
    outline: none;
    border: 0;
    background: transparent;
}

.mobile__menu{
    width: 100%;
    background-color: rgba(42, 59, 43, 1);
    position: absolute;
    z-index: 2000;
    top: 78px;
    left: -100%;
    display: flex;
    flex-direction: column;
    height: 300px;
}

.mobile__menu .link{
    padding-left: 14px;
    padding-top: 10px;
    font-size: 24px;
    border-bottom: 3px solid #9FC131;
}

.active .mobile__menu{
    left: 0;
    transition: left 0.5s ease;
}


.header__search{
    display: flex;
    width: calc(100%/3);
    border-radius: 5px;
    border: 0;
    height: 29px;
    align-items: center;
    margin: 0 30px 0 30px;
}

.header__field{
    width:100%;
}

/*HEADER END*/

.navigation-page{
    padding-top: 35px;
    padding-bottom: 35px;
}

.product__content{
    padding-top: 80px;
    padding-bottom: 252px;
    display: flex;
    justify-content: space-between;
}

.product__images{
    max-width: 575px;
    width: 100%;
}

.product__images-large img{
    width: 100%;
    object-fit: cover;
    max-height: 575px;
    height: 100%;
}

.product__images-small{
    padding-top: 30px;
}

.product__images-small img{
    max-width: 180px;
    width: 100%;
    object-fit: cover;
    max-height: 180px;
    height: 100%;
    margin: 0 20px;
}

.product__description{
    max-width: 480px;
    width: 100%;
}

.product__title{
    font-size: 28px;
    padding-bottom: 16px;
}

.product__price{
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
}

.product__info{
    font-size: 18px;
}

.product__info p{
    font-weight: 400;
    line-height: 22px;
}

.product__info h3{
    padding-top: 8px;
    padding-bottom: 8px;
}

.paragraph{
    display: block;
    width: 100%;
}

.product__volume h3{
    padding-top: 14px;
    padding-bottom: 25px;
}

.product__volume-list{
    max-width: 350px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.product__volume-list .btn{
    font-size: 24px;
    color: #000;
    border: 5px solid #9FC131;
    padding: 24px 19px;
    border-radius: 30px;
}

.order{
    padding-top: 58px;
    padding-bottom: 51px;
}

.order .btn{
    font-size: 24px;
    color: #000;
    border: 5px solid #9FC131;
    padding: 24px 127px;
    border-radius: 40px;
}

/*FOOTER START*/
.footer__inner{
    background-color: rgba(42, 59, 43, 1);
    font-size: 18px;
 }
 
 .footer__content{
    display: flex; 
    justify-content: space-between;
    color:#fff;
    padding: 20px 15px 10px 15px;
 }
 
 .footer__nav{
     margin-left: 50px;
     font-size: 15px;
 }
 
 .footer__location{
     display: flex;
     flex-flow: row wrap;
     align-items: flex-start;
     margin-right: 50px;
     padding-bottom: 25px;
 }
 
 .location-image{
     object-fit: cover;
     padding-right: 10px;
 }
 
 .footer__phone{
     display: flex;
     padding-right: 10px;
     flex-flow: row wrap;
     align-items: center;
     margin-right: 50px;
 }
 
 .phone-image{
     object-fit: cover;
     padding-right: 10px;
 }
 
 .footer__social{
     display: flex;
     flex-flow: row nowrap;
     align-items: center;
     padding-left: 60px;
 }
 
 .instagram-image{
     margin-right: 10px;
 }
 
 .copyright{
     text-align: center;
     color: #fff;
     padding-bottom: 30px;
     padding-top: 10px;
 }
 /*FOOTER END*/